body{
    background-color: #ffbcc7;
}
.footer_container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_container > p{
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0 !important;
}
@media (max-width:1000px){
    .footer_container{
        display: block;
    }
    .footer_container > p{
        margin: auto;
        margin-block: 10px;
    }
}

/* data table responsive */
@media (max-width:500px){
    .table_parent{
        overflow-x: scroll;
    }
    .table_container{
        /* border: 1px solid red; */
        width: 1000px;
    }
    .header_create_new{
        display: grid !important;
        gap: 10px;
    }
    .table_parent_css{
        overflow-x: scroll;
    }
    .table_container_css{
        /* border: 1px solid red; */
        width: 1000px;
    }
}