.active{
    background-color: rgb(255, 206, 203) !important;
    color: black !important;
}
.brand_css{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    background-color: rgb(255, 206, 203) !important;
}
.brand_css > span{
    /* border: 1px solid red; */
    font-weight: bolder!important;
    letter-spacing: 1.5px;
}

.form_msg{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}
/* #myChart{
    margin-top: 20px;
    width: 75% !important;
    height: 400px !important;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
} */

.chart_container{
    position: relative; 
    height: 60vh; 
    width: 60vw;
}

@media (max-width:500px){
    .content-wrapper{
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    .reset-margin{
        margin-left: 0 !important;
    }
}


@media (max-width:500px){
    .table_parent_css{
        overflow-x: scroll;
    }
    .table_container_css{
        /* border: 1px solid red; */
        width: 1000px;
    }
    .form_msg{
        width: 100%;
    }
    .header_create_new{
        display: grid;
        gap: 10px;
    }
    /* #myChart{
        margin: unset;
        width: 100% !important;
        height: 350px !important;
        box-shadow: 0px 0px 2px black;
    } */
    .chart_container{
        width: 80vw;
    }
}