.form_msg{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

@media (max-width:500px){
    .table_parent_css{
        overflow-x: scroll;
    }
    .table_container_css{
        /* border: 1px solid red; */
        width: 1000px;
    }
    .form_msg{
        width: 100%;
    }
    .header_create_new{
        display: grid;
        gap: 10px;
    }
}