.form_msg{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}
#myChart{
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 75% !important;
    height: 400px !important;
    /* background-color: rgba(255, 255, 255, 0.192); */
    box-shadow: 0px 0px 5px black;
    padding: 10px;
}

@media (max-width:500px){
    .content-wrapper{
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    .reset-margin{
        margin-left: 0 !important;
    }
}


@media (max-width:500px){
    .table_parent_css{
        overflow-x: scroll;
    }
    .table_container_css{
        /* border: 1px solid red; */
        width: 1000px;
    }
    .form_msg{
        width: 100%;
    }
    .header_create_new{
        display: grid;
        gap: 10px;
    }
    #myChart{
        width: 100% !important;
        height: 250px !important;
        box-shadow: 0px 0px 2px black;

    }
}